body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
 p, ul, li {
  font-family: sans-serif;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}
h1, h2 ,h3,h4{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  
}
ul.header {
  background-color: #111;
  padding: 0;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.active {
  background-color: #0099FF;
}
.content {
  background-color: #FFF;
  padding: 20px;
  border: solid black 1px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}